<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン｜留学生向け専門学習支援システム</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>
        留学生向け<br>
        専門学習支援システム
    </h1>

    <p class="subtitle">
        個人の学習記録・目標・学習状況を管理するためにログインしてください。
    </p>

    <form method="POST" class="login-form">

        <label>ユーザー名</label>
        <input type="text" name="username" required>

        <label>パスワード</label>
        <input type="password" name="password" required>

        <button type="submit">ログイン</button>

    </form>

    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}

</body>
</html>